main {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

form {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
